.HeaderButton{
    margin-left: 5px;
}

.game{
    display:flex;
    margin: 25px;
}

.gameWhenWhere{
    display:flex;
}

.gameDate{
    width:20%;
    text-align:left;
}

.gameTime{
    width:20%;
    text-align:right;
}
.gameLocation{
    width:60%;
    text-align: center;
}
.gameInfo{
    width:60%;
    margin:5px;
}

.teamNameSection{
    display:flex;
}

.imageStandings{
    height:64px;
    width:64px;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.wildcard0{
    background:grey;
}

.wildcard1{
    background:grey;
}

.gameLogo{
    height:60px;
    width:60px;
}

.playoffTableLogo{
    height:60px;
    width:60px;
}

.Byeimage{
    height:60px;
    width:60px;
}

.standingsTable{
    width:500px;
}

.logoStandings{
    justify-items:right;
    width:25%;
}

.teamNameStandings{
    width:70%;
    justify-items: left;
    text-align: left;
}
.specialCharactersStandings{
    justify-items: left;
    height: 100%;
    width:5%;
}

.confNameDivStandings{
    font-size: x-large;
    font-weight: bolder;
}

.divStandingsBlock{
    font-size: large;
    font-weight: bold;
}

.confNameConfStandings{
    font-size: larger;
    font-weight: bold;
}

.teamNameCell{
    width:70%;
}

.percentBar{
    height: 36px;
}

.awayPCT, .homePCT{
	font-size: xx-large;
}

.weekButtons:hover{
	background: blue;
  	color: white;
}
