.navbar {
    top:0;
    position: fixed;
    width: 100%;
    height: 100px;
}

.game{
    display:flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.gameWhenWhere{
    display:flex;
    justify-content: center;
}

.gameTime {
    margin-left: 10px;
    margin-right:10px;
}


.gameDate {
    margin-left: 10px;
    margin-right:10px;
}

.homeFpi{
    text-align: right;
}
.gameInfo{
    width:85%;
    margin:5px;
}

.teamNameSection{
    display:flex;
    font-size: 25px;
}

.winsStandings, .lossesStandings, .fpiStandings, .tiesStandings, .standingsHeaderRow{
    font-size: 25px;
}
.imageStandings{
    height:72px;
    width:72px;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.wildcard1{
    background:grey;
}

.gameLogo{
    height:60px;
    width:60px;
}

.playoffTableLogo{
    height:60px;
    width:60px;
}

.Byeimage{
    height:60px;
    width:60px;
}

.standingsTable{
    width:100%;
    height: 400px;
}

.logoStandings{
    justify-items:right;
    width:25%;
}

.teamNameStandings{
    width:50%;
    justify-items: left;
    text-align: left;
}
.specialCharactersStandings{
    justify-items: left;
    height: 100%;
    width:10%;
    margin: 10px;
}

.confNameDivStandings{
    font-size: 30px;
    font-weight: bolder;
}

.divStandingsBlock{
    font-size: 20px;
    font-weight: bold;
}

.confNameConfStandings{
    font-size: 30px;
    font-weight: bold;
}

.divStandingsBlock{
    font-size: 25px;
    font-weight: bold;
}
.teamNameCell{
    width:70%;
}

.percentBarIncomplete{
    height: 60px;
}

.percentBarComplete, .scoreBar{
    height: 35px;
}

.awayPCTComplete, .homePCTComplete, .homeScore, .awayScore, .scoreTime{
    font-size: 25px;
}


.awayPCTIncomplete, .homePCTIncomplete{
    font-size: 40px;
}

.away_home_row {
    display: flex;
}

.away {
    width: 50%;
    font-size: 20px;
    text-align: left;
}

.home {
    width: 50%;
    font-size: 20px;
    text-align: right;
}

.gameView {
    width: 100%;
}

button:active {
    background: blue;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}


.lastUpdated{
    color: grey;
    margin: 50px;
    text-align: center;
}

.scheduleHeader{
    font-size: 30px;
    text-align: center;
}

.predictedWinner {
    text-align: center;
}

.pwHeader {
    text-align: center;
    font-size: 20px;
}

.pwImages{
    display: flex;
    justify-content: space-between;
}

.predSBWin {
    width: 197px;
    height: 197px;
    margin: 5px;
}
.trophy {
    width: 70px;
    height: 197px;
    margin: 5px;
    margin-right: auto;
}

.pwPCT {
    text-align: center;
    font-size:medium;
}
.playoffGame{
    min-height:120px;
    width: 100%;
}

.superbowlBracket {
     width: 100%;
 }

.playoffBracketLbl {
    text-align: center;
    font-size: 30px;
}

.playoffGameDiv{
    justify-content: center;
    text-align: center;
    margin: 3px;
}

.divisionalBracket, .AFCDivisionalBracket, .NFCDivisionalBracket, .wildcardBracket, .AFCWildcardBracket, .NFCWildcardBracket{
    display: flex;
    justify-self: center;
}

.AFCConferenceBracket, .AFCDivisionalBracket, .AFCWildcardBracket{
    justify-content: left;
}

.NFCConferenceBracket, .NFCDivisionalBracket, .NFCWildcardBracket{
    justify-content: right;
}

.AFCConferenceBracket, .NFCConferenceBracket, .AFCDivisionalBracket, .NFCDivisionalBracket, .AFC1Bracket, .AFC2Bracket, .NFC1Bracket, .NFC2Bracket, .AFCWildcardBracket, .NFCWildcardBracket{
  width: 50%;
}

.AFC27Bracket,.AFC36Bracket, .AFC45Bracket, .NFC27BRacket, .NFC36Bracket, .NFC45Bracket {
    width: 33.33%;
}

.bracketTeam, .bracketName{
    padding: 5px;
    display:flex;
    min-height: 65px;
    justify-content: center;
}


.pwLogo{
    width:50%;
    text-align:right;
}
.trophyDiv{
    width:50%;
    text-align: left;
}

.bracketLogo{
    height:60px;
    width:60px;
}

.currRecordStandings{
	width:30%;
	text-align:left;
	color:gray;
}

.playoffTable, .createTable{
    width: 100%;
}

.createTable {
    margin-top: 10px;
}

.chooseButtonRow, .chooseButtonsSection {
    display:flex;
}

.chooseButtonImage {
    height: 32px;
    width: 32px;
}

standings-view, division-standings-view, league-standings-view, conference-standings-view {
      max-height: 500px;
  }

.messageBody {
    font-size: 15px;
}

.messageHeader {
    font-size: 18px;
}

.HeaderButton{
    font-size: 18px;
    border: none;
    outline: none;
    background-color: inherit;
    display: inline-block;
    height: 50px;
    width: 20%;
}

.HeaderButtontrue {
    text-decoration: underline blue;
}

.HeaderButton:focus {
    border: none;
    outline: none;
    background-color: inherit;
    display: inline-block;
}

#ButtonRow {
    position: fixed;
    display: flex;
    width: 100%;
    height: 51px;
    padding-right: 20px;
    background-color: lightgrey;
    top:100px;
    justify-content:space-between;
}

#mainPage {
    background: white;
    padding: 10px;
}



.weekButtons{
    display: flex;
    justify-content: center;
}

.weekButton {
    font-size: 20px;
    margin: 10px;
    background: #343a40;
    color: white;
    border-radius: 15px;
}

.game {
    display: flex;
    justify-content: space-between;
}

.standingsButtonRow{
    display: flex;
    justify-content: center;
}

.standingsButtons {
    font-size: 20px;
    margin: 10px;
    background: #343a40;
    color: white;
    border-radius: 15px;
}

.modeButtons {
    display: flex;
    justify-content: center;
}

.modeButton {
    font-size: 20px;
    margin: 10px;
    background: #343a40;
    color: white;
    border-radius: 15px;
}

.blurbFun, .blurbReal {
    font-size: 22px;
}

.chooseButtonRow {
    display: flex;

}

.chooseButtonHeader {
    width: 103px;
}

.Buttontrue{
    background: darkgray;

}

.Buttontrue:focus {
    outline: none;
}

.chooseButtonsSection {
    display: flex;
    justify-content: space-between;
    flex: 9;
}

.chooseButton {
    margin-left: 20px;
}

.header {
    display: flex;
}

#blankHeader {
    width: 2%;
}

img {
    height: 40px;
}

.title {
    width:83%;
    display: flex;
}

#logoImg {
    zoom: 2;
}
.name {
    font-size: 25px;
    margin:10px;
}

.subTitle {
    font-size: 15px;
    margin: 10px;
    align-items: center;
    display: flex;
}

.pageLinks {
    display: flex;
    justify-self:right;
    width: 15%;
    margin-right: 10px;
}

.link {
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: right;
}

.nav-items {
    display:flex;
}

.nav-item {
    padding: 20px;
}

.nav-link {
    font-size: 20px;
}

.notNav {

    margin-top: 100px;
    font-size: 15px;
}

#StandingsContainer, #ScheduleContainer, #PlayoffContainer, #CreateContainer, #BracketContainer {
    zoom: 0.83;
    margin-left: 10%;
    margin-right: 10%;
}

.messageLists {
    display: flex;
}

.messageBody {
    list-style-type: none;
}

.warning {
    display: flex;
    justify-content: center;
    margin-top: 175px;
    font-weight: bolder;
}

