<div class="modeButton">
  <button class="funMode" ng-click=" $ctrl.funOn()"> Fun Mode </button>
  <button class="realMode" ng-click="$ctrl.$onInit();"> Real Mode </button>
</div>
<div class ="blurbFun" ng-if="$ctrl.fun">
  Use your creativity to create any scenario you can think of.
</div>
<div class="blurbReal" ng-if="!$ctrl.fun">
  Create only purely realistic playoff scenarios.
</div>
<div class="chooseButtonHeader">
  Select Teams to see their percent below
</div>
<div ng-repeat="seed in $ctrl.seeds track by $index">
  <seed-buttons funmode= "$ctrl.fun" changed="$ctrl.changed" allseeds="$ctrl.seeds" index="$index" allteams="$ctrl.getConfernceTeams($index)" name="$ctrl.namesOfSeeds[$index]"></seed-buttons>
</div>
{{$ctrl.verify()}}
<table class = "playoffTable">
  <tr class="playoffTableHeaderRow1">
    <th colspan = "3">
      Team Information
    </th>
    <th colspan = "4">
      Percent Chance To Win
    </th>
  </tr>
  <tr class="playoffTableHeaderRow">
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortSeed()"> Seed </div>
      <i class="{{$ctrl.getCarrot($ctrl.SEED)}}"></i>
    </th>
    <th class ="playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortTeam()"> Team </div>
      <i class="{{$ctrl.getCarrot($ctrl.NAME)}}"></i>
    </th>
    <th class ="playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortFPI()"> FPI </div>
      <i class="{{$ctrl.getCarrot($ctrl.FPI)}}"></i>
    </th>
    <th class ="playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortWC()"> Wild card </div>
      <i class="{{$ctrl.getCarrot($ctrl.WC)}}"></i>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortDiv()"> Divisional </div>
      <i class="{{$ctrl.getCarrot($ctrl.DIV)}}"></i>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortConf()"> Conference </div>
      <i class="{{$ctrl.getCarrot($ctrl.CONF)}}"></i>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortSB()"> Super Bowl </div>
      <i class="{{$ctrl.getCarrot($ctrl.SB)}}"></i>
    </th>
  </tr>
  <tr class= "playoffTableDataRow" ng-repeat="team in $ctrl.teamPercents track by $index">
    <td classs="playoffTableSeedCell">
      {{team.seed}}
    </td>
    <td class="playoffTableLogoCell">
      <img class='playoffTableLogo' ng-src='{{$ctrl.getLogo(team.teamName)}}'>
    </td>
    <td class="playoffTableFPICell">
      {{team.fpi}}
    </td>
    <td class="playoffTableDataCell wildcard{{team.seed}}" style="background:{{$ctrl.style(team)}}">
      {{$ctrl.wildcard($index)}}
    </td>
    <td class="playoffTableDataCell"  style="background:{{$ctrl.getColor(team.divisional)}}">
      {{team.divisional + "%"}}
    </td>
    <td class="playoffTableDataCell" style="background:{{$ctrl.getColor(team.conference)}}">
      {{team.conference + "%"}}
    </td>
    <td class="playoffTableDataCell" style="background:{{$ctrl.getColor(team.superbowl)}}">
      {{team.superbowl + "%"}}
    </td>
  </tr>
</table>
