<table class = "playoffTable">
  <tr class="playoffTableHeaderRow1">
     <th colspan = "5">
       Percent Chance To Win
    </th>
  </tr>
  <tr class="playoffTableHeaderRow">
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortSeed()"> Seed </div>
    </th>
    <th class ="playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortTeam()"> Team </div>
    </th>
    <th class ="playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortWC()"> Wild card </div>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortDiv()"> Divisional </div>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortConf()"> Conference </div>
    </th>
    <th class = "playoffTableHeaderCell">
      <div class="playoffTableBtn" ng-click="$ctrl.sortSB()"> Super Bowl </div>
    </th>
  </tr>
  <tr class= "playoffTableDataRow" ng-repeat="team in $ctrl.playoffData track by $index">
    <td classs="playoffTableSeedCell">
      {{team.seed}}
    </td>
    <td class="playoffTableLogoCell">
      <img class='playoffTableLogo' ng-src='{{$ctrl.getLogo(team.name)}}'>
    </td>
    <td class="playoffTableDataCell wildcard{{team.seed}}" style="background:{{$ctrl.style(team)}}">
      {{$ctrl.wildcard($index)}}
    </td>
    <td class="playoffTableDataCell"  style="background:rgb({{$ctrl.getColor(team.divisional)}}, 0, 0">
      {{team.divisional + "%"}}
    </td>
    <td class="playoffTableDataCell" style="background:rgb({{$ctrl.getColor(team.conference)}}, 0, 0">
      {{team.conference + "%"}}
    </td>
    <td class="playoffTableDataCell" style="background:rgb({{$ctrl.getColor(team.superbowl)}}, 0, 0">
      {{team.superbowl + "%"}}
    </td>
  </tr>
</table>
