<table class = "playoffTable">
  <tr class="playoffTableHeaderRow">
    <th class ="playoffTableHeaderCell">
      Team
    </th>
    <th class ="playoffTableHeaderCell">
      % chance to win in the wild card game
    </th>
    <th class = "playoffTableHeaderCell">
      % chance to win in the divisional game
    </th>
    <th class = "playoffTableHeaderCell">
      % chance to win the conference championship
    </th>
    <th class = "playoffTableHeaderCell">
      % chance to win the superbowl
    </th>
  </tr>
  <tr class= "playoffTableDataRow" ng-repeat="team in $ctrl.playoffs.afcteams track by $index">
    <td class="playoffTableLogoCell">
      {{$ctrl.getLogo(team)}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.nfcWildCard($index)}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.afcdivisional[$index]}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.afcconference[$index]}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.superbowl[$index]}}
    </td>
  </tr>
  <tr class= "playoffTableDataRow" ng-repeat="team in $ctrl.playoffs.nfcteams track by $index">
    <td class="playoffTableLogoCell">
      {{$ctrl.getLogo(team)}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.nfcWildCard($index)}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.nfcdivisional[$index]}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.nfcconference[$index]}}
    </td>
    <td class="playoffTableDataCell">
      {{$ctrl.playoffs.superBowl[$index + 6]}}
    </td>
  </tr>
</table>