<div class="playoffGameDiv" ng-if="!$ctrl.fakeGame">
  <table class="playoffGame">
    <tr>
      <td class="awayTeam">
          Away
      </td>
      <td class="bracketTeam">
        <div class = "bracketLogo">
          <img class="bracketLogo" ng-src="{{$ctrl.getLogo($ctrl.team1)}}">
        </div>
        <div class = "bracketName">
          {{$ctrl.team1}}
        </div>
      </td>
      <td>
        {{$ctrl.getWildCard($ctrl.team1)}}%
      </td>
    </tr>
    <tr>
       <td class="homeTeam">
          Home
      </td>
      <td class="bracketTeam">
        <div class = "bracketLogo">
          <img class="bracketLogo" ng-src="{{$ctrl.getLogo($ctrl.team2)}}">
        </div>
        <div class = "bracketName">
          {{$ctrl.team2}}
        </div>
      </td>
      <td>
        {{$ctrl.getWildCard($ctrl.team2)}}%
      </td>
    </tr>
  </table>
</div>
<div class="playoffGameDiv" ng-if="$ctrl.fakeGame">
  <table class="playoffGame">
    <tr>
       <td class="awayTeam">
          Away
      </td>
      <td class="bracketTeam">
        {{$ctrl.team1}}
      </td>
    </tr>
    <tr>
      <td class="awayTeam">
          Home
      </td>
      <td class="bracketTeam">
        <div class = "bracketLogo"  ng-if="!($ctrl.t2 ===undefined)">
          <img class="bracketLogo" ng-src="{{$ctrl.getLogo($ctrl.team2)}}">
        </div>
        <div class = "bracketName">
          {{$ctrl.team2}}
        </div>
      </td>
    </tr>
  </table>
</div>
