<div>
  <button class = 'standingsButtons, Button{{$ctrl.selectedView === $ctrl.DIVISIONVIEW}}' ng-click="$ctrl.selectedView = $ctrl.DIVISIONVIEW">Divisions</button>
  <button class = 'standingsButtons, Button{{$ctrl.selectedView === $ctrl.CONFERENCEVIEW}}' ng-click="$ctrl.selectedView = $ctrl.CONFERENCEVIEW">Conferences</button>
  <button class = 'standingsButtons, Button{{$ctrl.selectedView === $ctrl.LEAGUEVIEW}}' ng-click="$ctrl.selectedView = $ctrl.LEAGUEVIEW">League</button>
</div>
<div class="message">
  <div class="messageHeader">
    KEY
  </div>
  <div class="messageBody">
    * = Home Field Advantage,
    z = First Round Bye,
    y = division winner,
    x = wildcard
  </div>
</div>
<div id='divisionStandings' ng-if="$ctrl.selectedView===$ctrl.DIVISIONVIEW">
  <division-standings-view data="$ctrl.data"></division-standings-view>
</div>
<div id='conferenceStandings' ng-if="$ctrl.selectedView===$ctrl.CONFERENCEVIEW">
  <conference-standings-view data="$ctrl.data"></conference-standings-view>
</div>
<div id='leagueStandings' ng-if="$ctrl.selectedView===$ctrl.LEAGUEVIEW">
  <league-standings-view data="$ctrl.data"></league-standings-view>
</div>