<table class="standingsTable">
  <tr class="standingsHeaderRow">
  <th class="teamNameStandingsHeader" ng-click="$ctrl.sortTeamName()">
    Team Information
    <i class="{{$ctrl.getCarrot($ctrl.TEAMNAME)}}"></i>
  </th>
  <th class="fpiStandingsHeader" ng-click="$ctrl.sortFPI()">
    FPI
    <i class="{{$ctrl.getCarrot($ctrl.FPI)}}"></i>
  </th>
  <th class="winsStandingsHeader" ng-click="$ctrl.sortWins()">
    Wins
    <i class="{{$ctrl.getCarrot($ctrl.WINS)}}"></i>
  </th>
  <th class="lossesStandingsHeader" ng-click="$ctrl.sortLosses()">
    Losses
    <i class="{{$ctrl.getCarrot($ctrl.LOSSES)}}"></i>
  </th>
  <th class="tiesStandingsHeader" ng-click="$ctrl.sortTies()">
    Ties
    <i class="{{$ctrl.getCarrot($ctrl.TIES)}}"></i>
  </th>
  </tr>
  <tr class="standingsRow" ng-repeat="team in $ctrl.teamArr">
    <td class="teamNameCell">
      <div class="teamNameSection">
        <div class="specialCharactersStandings">
          {{$ctrl.getSpecialCharacters(team.name)}}
        </div>
        <div class="teamNameStandings">
          {{team.name}}
          <sup>
            {{team.clinchChar}}
          </sup>
        </div>
		<div class="currRecordStandings">
			({{team.statWins}}-{{team.statLosses}}-{{team.statTies}})
		</div>
        <div class="logoStandings">
          <img class='imageStandings' ng-src='{{$ctrl.getLogo(team.name)}}' alt='LOGO'>
        </div>
      </div>
    </td>
    <td class="fpiStandings">
      {{team.fpi}}
    </td>
    <td class="winsStandings">
     {{team.wins}}
    </td>
    <td class="lossesStandings">
      {{team.losses}}
    </td>
    <td class="tiesStandings">
     {{team.ties}}
    </td>
  </tr>
</table>
