<div class = 'ScheduleHeader'>
  Byes
</div>
<div class='weekButtonsStyle' ng-repeat='team in $ctrl.week.teamsOnBye'>
  <span><img class='Byeimage' ng-src='{{$ctrl.getTeamImage(team)}}' alt='LOGO'></span>
  {{team}}
</div>
<div class = 'ScheduleHeader'>
  Games
</div>
<div class = 'away_home_row'>
  <div class = 'away'>
    Away Team
  </div>
  <div class = 'home'>
    Home Team
  </div>
</div>
<div class='weekButtonsStyle' ng-repeat='gameData in $ctrl.week.games'>
  <game-view game = gameData></game-view>
</div>
