<div class='weekButtons'>
  <div class='weekButtonsStyle' ng-repeat='week in $ctrl.firstLine track by $index'>
    <button class='weekButton Button{{$ctrl.selected===$index}}' ng-click='$ctrl.selected=$index'>Week {{$index+1}}</button>
  </div>
</div>
<div class='weekButtons'>
  <div class='weekButtonsStyle' ng-repeat='week in $ctrl.secondLine track by $index'>
    <button class='weekButton Button{{$ctrl.selected===$index+9}}' ng-click='$ctrl.selected=$index+9'>Week {{$index+10}}</button>
  </div>
</div>
<week-view week=$ctrl.data.season.weeks[$ctrl.selected]></week-view>