
.navbar {
    top:0;
    position: fixed;
    width: 100%;
}
.main {
    margin-top: 100px;
    width: 98%;
}

.header {
    display: flex;
}

#blankHeader {
    width: 2%;
}

img {
    height: 40px;
}

.title {
    width:83%;
    display: flex;
}

.logo {
    margin: 10px;

}

.name {
    font-size: 25px;
    margin:10px;
}

.subTitle {
    font-size: 15px;
    margin: 10px;
    align-items: center;
    display: flex;
}

.pageLinks {
    display: flex;
    justify-self:right;
    width: 15%;
    margin-right: 10px;
}

.link {
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: right;
}

.largeSection {

}

.subSection {

}

.nav-items {
    display:flex;
}

.nav-item {
    padding: 20px;
}

.nav-link {
    font-size: 20px;
}

#contact {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.main {
    zoom: 1.2;
}